.quantitySelectorContainer--content-qtd{display:flex;flex-direction: inherit;}
.quantitySelectorContainer--content-qtd{margin-bottom: 0;}
.quantitySelectorTitle{
    display: inline-flex;
    width: 68%;
    color: #383838;
    font-size: .9em;
    font-weight: bold;
    padding-top:.7em;
}

.quantitySelectorStepper{
    border: 1px solid #63d6bb;
    border-radius: 1em;    
}

.quantitySelectorStepper--content-qtd{
    width:30%;
    display: inline-flex;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button){ 
    border-radius: 100% !important;
    width: 32px !important;
    margin-left: .4em;
    border: 1px solid #fff;
    line-height: 1;    
    background: #63d6bb;
    color: #fff;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;    
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button){ 
    border-radius: 100% !important;
    width: 32px !important;
    margin-right: .4em;
    border: 1px solid #fff;
    line-height: 1;    
    background: #63d6bb;
    color: #fff;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;    
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
    border:0;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
    width:100% !important;
}

@media screen and (min-width: 80em) {
    .quantitySelectorStepper :global(.vtex-numeric-stepper__input){
        width:3.3em;
    }    
    .quantitySelectorTitle{
        width: 100%;
        padding-top:0;
    }    
    .quantitySelectorTitle{
        width: 83px;
        padding-top: 0;
        text-align: center;
        margin: 0 auto .4em;        
    }
}

/* Vitrines */

.quantitySelectorTitle--summary{
    color: #aaa;
    font-weight: 500;
    font-size: .6em;
    text-transform: uppercase;
    width: auto;
    margin: -2px 0 0;
    text-align: center;
    display: block;
}

.quantitySelectorStepper--summary :global(.vtex-numeric-stepper__minus-button){
    width: 25px!important;
    margin-right: .4em;
    border: 1px solid #ccc;
    line-height: 1;
}

.quantitySelectorStepper--summary :global(.vtex-numeric-stepper__plus-button){
    width: 25px!important;
    margin-right: 0;
    border: 1px solid #ccc;
    line-height: 1;
}

.quantitySelectorStepper--summary :global(.vtex-numeric-stepper__input){
    width: 1.8em;
}

.quantitySelectorContainer--summary{
    margin-bottom: 0;
}

@media screen and (max-width: 80em) {
    .summaryContainer--summary{ width: 100%;}
    .quantitySelectorContainer--summary{display: block;flex-direction: inherit;margin-bottom: .3em;width:150px;}
    .quantitySelectorContainer--summary :global(.vtex-numeric-stepper__input){background: inherit}
    .quantitySelectorTitle--summary{
        display:none;
        color: #aaa;
        font-weight: 500;
        font-size: .6em;
        text-transform: uppercase;
        width: 40%;
        text-align: center;
        /* display: flex; */
        max-width: 75px;
        padding-top: 1em;
        line-height: 1.8;
        margin-left: .8em;        
    }
    .quantitySelectorStepper--summary{
        display: flex;
        /*width: 53%;
        max-width: 100px;
        margin-left: .5em;        
        */
        margin: 0 .3em;
    }
    .quantitySelectorStepper--summary :global(.vtex-numeric-stepper-wrapper){
        width: 100%;
    }
}